[Unit]
Description=AC Power monitoring service.

[Service]
Type=simple
ExecStart=/bin/bash /home/user/acalert.sh

[Install]
WantedBy=multi-user.target
